    .main{
        text-align:center;
    }
    .menu li{
        display:inline-block;
        position:relative;
        width:70px;        
    }
    .menu li:hover{
        box-shadow:0 0 5px 0 grey;
        border-radius:5px 5px 0 0;        
    }
    .menu li a{
        display:block;
        padding:5px 10px;
        
    }
    .menu li:hover a{
        color:black;
        text-decoration:none;       
    }
    ul li ul{
        display:none;       
    }
    .menu li:hover ul{
        display:block;
        position:absolute;
        left:0px;
        width:100px;
        background:white;        
        text-align:left;
        padding:0px;
        box-shadow:0 0 5px 0 grey;
        
    }
    .menu li:hover ul a{
        display: block;
        width:80px;
        color:black;
        text-decoration:none;
    }    
    .menu li:hover ul a:hover{
        color:white;
        background:blue;
    }
    .main ul:before {
        position:absolute;
        content:"";
        width:70px;
        height:5px;
        left:0px;
        top:-4px;
        background:white;        
      }