.wrapper{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 80%;
  .images{
    display: block;
    margin: 0 auto;
    img {
      cursor: pointer;
      height: 150px;
      margin: 5px;
      width: 200px;
    }
  }
}

.gallery{
  background: rgba(0, 0, 0, 0.7);
  display: none;
  left: 0; right: 0;
  bottom: 0; top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  overflow: hidden;
  opacity: 0;

  .image {
    display: inline-block;
    position: relative;
    max-height: 100%;
    .arrows{
      top: 0;
      height: 100%;
      position: absolute;
      color: #fff;
      font-size: 4em;
      font-weight: bold;
      width: 20%;
      &:hover{
        background: rgba(0, 0, 0, 0.3);
        a{
          display: block;
        }
      }
      &.left{
        left: 0;
      }
      &.right{
        right: 0;
      }
      a{
        top: 49%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: none;
      }
    }
    img{
      max-height: 100%;
    }
  }
}