#blackBG{            
            background-color: #000000;
            opacity: 0.5;
            position: fixed;
            top: 0px;
            left: 0px;
            display: none;
            width: 100%;
            height: 100%;
            z-index: 2;
            }
        
#modal{
            overflow: scroll;
            position: fixed;
            opacity: 1;
            top: -600px;
            left: 25%;
            border: 3px solid orange;
            background-color: #fff29c;
            width: 50%;
            height: 50%;
            padding: 15px;
            border-radius: 10px;
            text-align: justify;
            z-index:3;
            }
#close{
            float:right;
            }